<% include ../partials/boilerplate %>

<div class = 'got-login-container'>
  <h2 class = 'welcome'>Welcome Back! Hopefully You Will Be a Maester in No Time!</h2>
  <form method = 'POST' action = '/auth/login'>
    <input class = 'username' type='text' name='username' placeholder= 'Username' required />
    <input class = 'password' type='password' name='password' placeholder= 'Password' required />
    <input class = 'register-submit' type='submit' value='Continue Your Journey!' />
  </form>
</div>

<% include ../partials/end %>
