<% include ../partials/boilerplate %>

<div class = 'got-register-container'>
 <form method = 'POST' action = '/auth/register'>
  <input class = 'username' type='text' name='username' placeholder='Username' required />
    <input class = 'email' type='email' name='email' placeholder='Email' required />
    <input class = 'password' type='password' name='password' placeholder='Password' required />
    <input class = 'register-submit' type='submit' value='Begin Your Journey Here!' />
  </form>
</div>

<% include ../partials/end %>
