<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My Game Of Thrones For Dummies</title>
  <link rel='stylesheet' type='text/css' href='../styles/reset.css'>
  <link rel='stylesheet' type='text/css' href='../styles/style.css'>
  <script src ='/src/jquery.js'></script>
</head>
<body>

