<% include ./partials/boilerplate %>

<div class = 'container'>
  <h1 class = 'message'><%= message %></h1>
  <!--<img class = 'title' src="https://fontmeme.com/permalink/170802/c91ac819b5d456d933c12c28a8bdc809.png">-->
  <h2 class = 'login'>Register <a class = 'register' href='auth/register'>Here</a>
  To Begin Creating Your Personal Guide Through Westeros </h2>
  <h2 class = 'login'>(And Essos If You're Feeling Brave)</h2>
  <h2 class = 'login'>Already Begun? Log In <a class = 'log' href='auth/login'>Here</a></h2>
</div>


<% include ./partials/end %>
