<% include ./partials/boilerplate %>

<div class = 'container'>
  <h1 class = 'message'><%= message %></h1>
  <h2 class = 'login'>Register <a class = 'register' href='auth/register'>Here</a>
  To Begin Creating Your Personal Guide Through Westeros (And Essos If You're
  Feeling Brave)</h2>
  <h2 class = 'login'>Already Begin? Log In <a class = 'log' href='auth/login'>Here</a></h2>
</div>


<% include ./partials/end %>
