body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url('../images/got-background.jpeg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: -10;
  background-attachment: fixed;
}

#overall {
  z-index: -5;
  position: fixed;
  min-height: 100vh;
  min-width: 100vw;
  background: rgba(0,0,0,.5);
}

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 80px;
}

.got-login-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 10px;
  font-size: 30px;
}

.title {display: flex;}

.message {
  font-size: 65px;
  padding: 10px;
  font-family: 'Medieval Sharp', cursive;
  color: #c0c0c0;
}

.login {
  font-size: 30px;
  padding: 10px;
  color: #c0c0c0;
  font-family: 'Medieval Sharp', cursive;
}

.register, .log {color: #c0c0c0;}

.got-container, .add-container, .got-single-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 10px;
}

.header {
  font-size: 40px;
  padding: 10px;
  color: #a9a9a9;
  font-family: 'Medieval Sharp', cursive;
}

.name {
  font-size: 30px;
  color: #a9a9a9;
  font-family: 'Medieval Sharp', cursive;
}

.linkto {
  font-size: 20px;
  padding: 15px;
  color: #a9a9a9;
  font-family: 'Medieval Sharp', cursive;
}

.delete {
  font-size: 15px;
  padding: 10px;
}

.remove, .add-name, .add-submit {
  background-color: rgba(0, 0, 0, .5);
  color: #a9a9a9;
  border: 2px solid #00487f;
  font-family: 'Medieval Sharp', cursive;
}

.add {
  font-size: 20px;
  padding: 10px;
  color: #a9a9a9;
  font-family: 'Medieval Sharp', cursive;
  background-color: rgba(0,0,0,.5);
  border: 2px solid #00487f;
  text-decoration: none;
}

.logout {
  font-size: 20px;
  padding: 15px;
  color: #a9a9a9;
  font-family: 'Medieval Sharp', cursive;
  background-color: rgba(0,0,0,.5);
  text-decoration: none;
}

p {
  font-size: 30px;
  font-family: 'Medieval Sharp', cursive;
  padding: 15px;
  color: #a9a9a9;
}
.char-name {
  font-size: 40px;
  text-decoration: underline;
}
.seeall {
  font-size: 20px;
  color: #a9a9a9;
  font-family: 'Medieval Sharp', cursive;
}

input {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 10px;
  font-size: 20px;
}

footer {
  flex: .33;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 10px;
  color: #c0c0c0;
  border-top: 2px solid #00487f;
  font-family: 'Medieval Sharp', cursive;
}
