body:before {
  content: "";
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: -10;
  background: url('../images/got-background.jpeg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#overall {
  z-index: -5;
  top: 0;
  left: 0;
  position: fixed;
  height: 100vh;
  width: 100vw;
  background: rgba(0,0,0,.5);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  width: 100vw;
}

.got-login-container, .got-register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 30px;
  height: 100vh;
  width: 100vw;
}

.title {display: flex;}

.message {
  font-size: 65px;
  padding: 10px;
  font-family: 'MedievalSharp', cursive;
  color: #c0c0c0;
}

.login {
  font-size: 30px;
  padding: 10px;
  color: #c0c0c0;
  font-family: 'MedievalSharp', cursive;
}

/* .register, .log {color: #c0c0c0;} */

.got-container, .add-container, .got-single-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  width: 100vw;
}

.welcome {
  font-family: 'MedievalSharp', cursive;
  font-size: 40px;
  padding: 10px;
  color: #a9a9a9;
}

.header {
  font-size: 40px;
  padding: 10px;
  color: #a9a9a9;
  font-family: 'MedievalSharp', cursive;
}

.name {
  font-size: 30px;
  color: #a9a9a9;
  font-family: 'MedievalSharp', cursive;
}

.linkto {
  font-size: 20px;
  padding: 15px;
  color: #a9a9a9;
  font-family: 'MedievalSharp', cursive;
}

.delete {
  font-size: 15px;
  padding: 10px;
}

.remove, .add-name, .add-submit, .username, .email, .password, .register-submit {
  background-color: rgba(0, 0, 0, .5);
  color: #a9a9a9;
  border: 2px solid #00487f;
  font-family: 'MedievalSharp', cursive;
}

.add {
  font-size: 20px;
  padding: 10px;
  color: #a9a9a9;
  font-family: 'MedievalSharp', cursive;
  background-color: rgba(0,0,0,.5);
  border: 2px solid #00487f;
  text-decoration: none;
}

.logout {
  font-size: 20px;
  padding: 15px;
  color: #a9a9a9;
  font-family: 'MedievalSharp', cursive;
  background-color: rgba(0,0,0,.5);
  text-decoration: none;
  margin-top: 15px;
  border: 2px solid #00487f;
}

p {
  font-size: 30px;
  font-family: 'MedievalSharp', cursive;
  padding: 15px;
  color: #a9a9a9;
}
.char-name {
  font-size: 40px;
  text-decoration: underline;
}
.seeall {
  font-size: 20px;
  color: #a9a9a9;
  font-family: 'MedievalSharp', cursive;
}

input {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 10px;
  font-size: 20px;
}

@media screen and (max-width: 450px) {
  .message {
    font-size: 5em;
  }

  .login {
    font-size: 3em;
  }

  input {
    font-size: 2em;
    margin: 20px;
  }

  .welcome {
    font-size: 2.25em;
  }

  .header {
    font-size: 5em;
  }

  .add {
    font-size: 3em;
  }

  .delete {
    font-size: 2em;
  }

  .logout {
    font-size: 2.5em;
  }

  .char-name {
    font-size: 5.5em;
  }

  p {
    font-size: 3.5em;
  }

  .seeall {
    font-size: 3em;
  }
}