<% include ../partials/boilerplate %>
<div class= 'add-container'>
<form method = 'POST' action = '/got'>
  <input class = 'add-name' type='text' name='name' placeholder= 'Name' />
  <input class = 'add-submit' type='submit' value='Add New Character' />
</form>
</div>
<% include ../partials/end %>
