<% include ../partials/boilerplate %>
<div class = 'got-single-container'>
  <div class = 'got-single'>
    <h2 class = 'single-name'><%= data.name %> </h2>

  <div class = 'linkback'>
    <a class ='seeall' href='/user'>See All Characters</a>
  </div>
  </div>
</div>


<% include ../partials/end %>
